* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(154, 9, 9)
}

header {
    color: white;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 10px;
}

hr {
    color: white;
    margin-top: 15px;
}

.blackbox {
width: 100%;
height: 300px;
background-color: #000;
margin-top: 20px;
}

.link {
    color:white;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

.link:hover {
    color: white;
    text-decoration: none;
}

.numbers {
    float: left;
    text-align: center;
    margin: 15px;
    margin-left: 80px;
}

.kitty {
    width: 300px;
    height: auto;
}



.lorems, .hoh, .heh {
    font-size: 18px;
    display: inline-block;
}

.hoh {
    background-color: rgb(125, 9,9); 
    text-decoration: none;    
    text-align: left;
    height: auto;
    width: 20vw;
   
}

.lorems {
    width: 60vw;
    color: white;
}

.heh {
    width: 18vw;
    height: 350px;
    background-color: white;
}
.links {
    color:rgb(216, 91, 17);
    margin-left: 15px;
}

.keki {
    background-color: white
    }
.wew {
    text-align: center;

    background-color: rgba(128, 128, 128, 0.7);
}
.wow {
    margin-left: 5px;
}
.copy {

    background-color: rgb(255, 180, 41);
    text-align: center;
    display: block;
}

