body {
    background-color: #111a28;
    font-family: 'Museo Sans Rounded';
    font-weight: 100;
}

.content {
    width: 800px;
    height: 600px;
    position: relative;
    margin: 10% auto;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #c5c5c8;
    background-image: url('bg.png'), url('bgdot.png');
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
}
.card {
    position: absolute;
    width: 686px;
    height: 392px;
    background-color:#111a28;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.card__header {
    padding-top: 24px;
    padding-left: 20px;
}
.card__content {
    display: flex;
    justify-content: space-between;
    width: 594px;
    height: 240px;
    margin-top: 20px;
}
.card__product {
    margin-top: 49px;
    margin-left: 37px;
}
.card__title {
    color: #cbcccd;
    font-size: 24px;
    margin: 0;
    line-height: 1;
}
.card__subtitle {
    color:#464c55;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 0px;
    line-height: 1;
}
.simple-rating {
    margin: 27px 0;
    line-height: 1;
    font-size: 20px;
    position: relative;
}
.simple-rating::before {
    content: "★★★★★";
    display: block;
    flex: 0 0 20%;
    color: white;
}
.simple-rating__items {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}
.simple-rating__item {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
}
.simple-rating__label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: white;
}
.simple-rating__label::before {
    content: "★";
    display: block;
    transition: color 0.2s ease 0s;
}
.simple-rating__label:hover, 
.simple-rating__label:hover ~ .simple-rating__label,
.simple-rating__label:checked ~ .simple-rating__label:hover {
    color: #f7de60;
}
.card__button ul {
    list-style: none;
}
.card__button > ul {
    display: flex;
}
.card__button > ul li a {
    display: block;
    width: 70px;
    height: 32px;
    margin-top: 3px;
    margin-right: 3px;
    background-color: #111A28;
    text-align: center;
    border: 0.1px #616873 solid;
    box-sizing: border-box;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
a {
    color: #616873;
}
.card__button > ul li a:hover {
    background-color: #616873;
    color: #111A28;
}
.card__button > ul li {
    position: relative;
}
.card__button li ul {
    position: absolute;
    display: none;    
}

.card__button li:hover > ul {
    display: block; 
}
ul {
    padding-inline-start: 0;
}
.card__size, .card__qty {
    border: 0.5px #4f5560 solid;
    padding: 10px 12px;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    margin-right: 3px;
    font-family: 'Museo Sans Rounded';
    font-weight: 100;
    color: #9d9fa3;
    font-size: 14px;
    line-height: 1;
}
.card__purchase {
    border: 0.5px #4f5560 solid;
    padding: 14px 52px;
    text-transform: capitalize;
    color: #9d9fa3;
    font-size: 14px;
    margin-top: 29px;
}
.button:hover {
    transition: all 0.1s ease-in;
    background-color: #4f5560;
    opacity: 0.7;
}
.card__arrow {
    margin: 0 9px;
}