body {
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    margin: 0 0;
}
.main {
    background-image: url('bgimage.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    text-align: center;
}
.content {
    max-width: 1170px;
    margin: 0 auto;
}
.header__title {
    padding-top: 100px;
    font-size: 90px;
    color: black;
    font-weight: 700;
}
.header__subtitle {
    padding-top: 50px;
    font-size: 17px;
    color: black;
    font-weight: 300;
}
.form {
    padding-top: 50px;
    width: 858px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.form__controls {
    font-size: 15px;
    color: white;
    font-weight: 300;
}
.ititle {
    font-size: 17px;
    color: black;
    font-weight: 700;
}
.isubtitle {
    font-size: 20px;
    color: black;
    font-weight: 300;
}
.ititle__text , .isubtitle__text {
    margin-top: 0px;
    margin-bottom: 0px;
}
.information__container {
    margin-bottom: 20px;
}
.footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 90px;
    background-color: #262626;
}
.copyright {
    color: #aaaaaa;
    font-size: 16px;
    padding-left: 150px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;

}
.logo {
    font-family: 'Pacifico', cursive;
    color:#aaaaaa;
    font-size: 25px;
}
.makers {
    font-size: 15px;
    font-weight: 300;
    color: #aaaaaa;
    padding-right: 150px;
    margin-top: auto;
    margin-bottom: auto;
}
.makers span {
    color: #df2a4f;
    font-weight: 700;  
}
