body {
    background-color: greenyellow;
    /*background-image: url('syki.jpg_large'); пикча на фоне*/
    background-image: url('syki.jpg_large');
    background-size: ; /*фон*/
    background-repeat: no-repeat; /*не повторять*/

}
h1 {color: rgb(45, 97, 156)}
#lol {color: rgb(137, 194, 228)}
p.kek {background-color: rgb(58, 27, 6)} /*типа п с классом кек ему вот такое*/
p i {color: red;} /*всем параграфам с ай кушать красный*/
p.Пример, b {
    font-size: 40px;
    font-weight: normal;
} /*тупо загрупировал п и б*/
h1#example:first-letter {
    color:red;
}
p.kek:first-letter {
    color:rgb(0, 190, 16)
} /*выделить первую букву*/
h1#example:first-line {
    color: green;
} /*выделить первое предложение*/
.link {
    color:white;
    text-decoration: none;
} 
.spanblock {
    display: block; /*становятся в блок (многоэтажка), inline в линию*/
    overflow: auto; /*auto (1 polosa) если текст не влез в блок оверфлоу говорит что делать тексту, hidden, visible, */
    color: honeydew;
    height: 100px;
    width: 100px;
    border: hotpink 1px solid
}
.link:hover {
    color: salmon;
    text-decoration: none;
} /*hover - когда наводишь ефект*/
.link:active {
    color: aqua
} /*active - когда жмякнул*/
#STYLES  {
    font-size: 1.1em; /*текст на всех устройствах под экран подстравиается*/
    font-weight: normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-align: center; /*где тексту быть*/
    text-transform: capitalize; /*все буквы первые заглавные, uppercase - все капсом*/ 
    word-spacing: 10px; /*интервал между словами*/
    } 
p {
    text-indent: 1.1em; /*отступ*/
}
#DIVICH { /*!!!БЛОК <div> тут типа края!!!*/
    border: 2px dashed silver; /*dashed - дефисы, dotted - точки, 
    solid - полностью, double - двойная линия,*/
    height: 50px; /*высота*/
    width: 200px; /*щирина*/
    background-color: teal;
    margin: 10px; /*отступ блока*/
    padding: 10px; /*отступ в самом блоке*/
}

header {
    width: calc(100% - 20px); /*Из-за отступа нужно 20 пикселей отнимать*/
    height: 50px;
    background-color: white ;
    border-bottom: 2px solid silver;
    padding: 10px; /*отступ*/
    font-size: 1.2em;
    color: sienna;
    float: left;
    font-family: impact;
}

article, aside {
    background-color: skyblue;
    height: 400px;
    /*min-height: 400px; чтобы блоки не сьезжали*/
    border-radius: 5px;
    border: 1px, solid silver;
    box-sizing: border-box;
    margin-top: 20px;
    float: left;
    padding: 10px;
}
article {
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
}
aside {
    width: 25%;
}
aside ul { /*варианты спискования*/
    list-style-position: inside; /*нахождение фигни*/
   list-style-type: armenian; /*штучки разные*/
   list-style-image: url('syki.jpg_large') 3%; 
    
}
footer {
    width: calc(100% - 20px); /*Из-за отступа нужно 20 пикселей отнимать*/
    height: 50px;
    float: left;
    margin-top: 20px;
    background-color: white ;
    border-top: 2px solid silver;
    padding: 10px; /*отступ*/
    font-size: 1.2em;
    color: sienna;
    font-family: impact;
}